@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-hover);
  }
}
